<div *ngIf="(auth.user$ | async) as user" style="max-width:375px;display:flex;flex-direction:column;align-items:center;margin:0 auto;">
   <div style="font-size:25px">Admin</div>
   <button style="margin-top:15px" (click)="gohome()">Go home</button>

   <div style="font-size:20px;margin-top:25px;">Add funds to user's account</div>
   <input type="text" style="font-size:20px;margin-top:5px;" placeholder="username" [(ngModel)]="addToUsername">
   <input type="number" style="font-size:20px;margin-top:1px;" placeholder="amount" [(ngModel)]="addAmount">
   <button style="margin-top:5px" (click)="addFunds()">Add</button>

   <div style="font-size:20px;margin-top:50px;cursor:pointer;" (click)="getAllEvents()">All events (upcoming resolves) &#x21bb;</div>
   <button *ngIf="notcreating; else creating" style="margin-top:5px" (click)="notcreating=false">Create event</button>
   <ng-template #creating>
      <div style="width:280px;margin-top:15px;border:1px solid #000;display:flex;flex-direction:column;padding:10px;">
         <div style="font-weight:bold;text-align:center;">Create event</div>
         <div style="margin-top:10px">Categories</div>
         <div style="display:flex;flex-direction:row;margin-top:5px;flex-wrap:wrap;">
            <div *ngFor="let c1 of (qs.cats | keyvalue)" style="margin-right:10px;display:flex;flex-direction:row">
               <input type="radio" [value]="c1.key" name="cat1" [(ngModel)]="cat1">
               <div>{{c1.key}}</div>
            </div>
         </div>
         <div style="display:flex;flex-direction:row;margin-top:5px;flex-wrap:wrap;">
            <div *ngFor="let c2 of (qs.cats[cat1] | keyvalue)" style="margin-right:10px;display:flex;flex-direction:row;">
               <input type="radio" [value]="c2.key" name="cat2" [(ngModel)]="cat2">
               <div>{{c2.key}}</div>
            </div>
         </div>
         <div style="display:flex;flex-direction:row;margin-top:5px;flex-wrap:wrap;">
            <ng-container *ngIf="qs.cats[cat1]">
               <div *ngFor="let c3 of (qs.cats[cat1][cat2] | keyvalue)" style="margin-right:10px;display:flex;flex-direction:row;">
                  <input type="radio" [value]="c3.key" name="cat3" [(ngModel)]="cat3">
                  <div>{{c3.key}}</div>
               </div>
            </ng-container>
         </div>
         <div style="margin-top:10px">Event name</div>
         <input type="text" placeholder="Arsenal vs Chelsea" [(ngModel)]="eventname">
         <div style="margin-top:10px">Side 1 name &amp; decimal odds (remove vig)</div>
         <input type="text" placeholder="Arsenal" [(ngModel)]="side1name">
         <input style="margin-top:1px" type="number" placeholder="1.54" [(ngModel)]="side1odds">
         <div style="margin-top:10px">Side 2 name &amp; decimal odds (remove vig)</div>
         <input type="text" placeholder="Chelsea" [(ngModel)]="side2name">
         <input style="margin-top:1px" type="number" placeholder="2.86" [(ngModel)]="side2odds">
         <div style="margin-top:10px">Estimated resolve datetime</div>
         <input type="datetime-local" [(ngModel)]="estres">

         <button style="margin-top:10px;font-weight:bold;" (click)="createMarket()">Create</button>
         <button style="margin-top:5px" (click)="notcreating=true">Cancel</button>
      </div>
   </ng-template>
   <div style="margin-top:5px">
      <div *ngFor="let event of (qs.events$ | async)" style="padding-top:5px;margin-bottom:10px;border-top:1px solid #000;">
         <div>{{event.name}}</div>
         <div style="margin-top:3px">
            Est Resolve Datetime: {{event.estResolve.toDate().toLocaleDateString()}} {{event.estResolve.toDate().toLocaleTimeString()}}
         </div>
         <div style="margin-top:6px;display:flex;justify-content:space-between;">
            <button (click)="resolve(event.eventID, 0)">{{event.sides[0].name}}</button>
            <button (click)="resolve(event.eventID, 1)">{{event.sides[1].name}}</button>
         </div>
      </div>
   </div>
</div>
