<div *ngIf="(auth.user$ | async) as user" style="max-width:375px;display:flex;flex-direction:column;align-items:center;margin:0 auto;">
   <ng-container *ngIf="notcreating; else creating">
      <div style="font-size:25px;font-weight:600;">Admin</div>
      <ng-container *ngIf="(qs.siteData$ | async) as sd">
         <div style="margin-top:15px">Site total: ${{sd.siteTotal.toFixed(2)}} | Our money: ${{sd.ourMoney.toFixed(2)}}</div>
      </ng-container>
      <button style="margin-top:15px" (click)="gohome()">Go home</button>
      <button style="margin-top:15px" (click)="notcreating=false">Create event</button>

      <div style="font-size:20px;margin-top:25px;font-weight:600;">Add funds to user's account</div>
      <input type="text" style="font-size:20px;margin-top:5px;" placeholder="username" [(ngModel)]="addToUsername">
      <input type="number" style="font-size:20px;margin-top:1px;" placeholder="amount" [(ngModel)]="addAmount">
      <button style="margin-top:5px" (click)="addFunds()">Add</button>

      <div *ngIf="(qs.withdrawals$ | async)?.length" style="font-size:20px;margin-top:25px;font-weight:600;">Requested withdrawals</div>
      <div *ngFor="let wd of (qs.withdrawals$ | async)" style="display:flex;flex-direction:row;margin-top:5px;">
         {{wd.method + ' ' + wd.methodUname + ' $' + wd.amount.toFixed(2)}}
         <button style="margin-left:10px" (click)="closeWD(wd.wdID)">Done</button>
      </div>

      <div style="font-size:20px;font-weight:600;margin-top:25px;">Upcoming event resolves</div>
      
      <div style="margin-top:5px">
         <div *ngFor="let event of (qs.events$ | async)" style="padding-top:5px;margin-bottom:10px;border-top:1px solid #000;">
            <div>{{event.name}}</div>
            <div style="margin-top:3px">
               Est Resolve Datetime: {{event.estResolve.toDate().toLocaleDateString()}} {{event.estResolve.toDate().toLocaleTimeString()}}
            </div>
            <div style="margin-top:6px;display:flex;justify-content:space-between;">
               <button (click)="resolve(event.eventID, 0)">{{event.sides[0].name}}</button>
               <button (click)="resolve(event.eventID, 1)">{{event.sides[1].name}}</button>
            </div>
         </div>
      </div>
   </ng-container>
</div>

<ng-template #creating>
   <div style="width:280px;margin-top:15px;border:1px solid #000;display:flex;flex-direction:column;padding:10px;">
      <div style="font-weight:600;font-size:20px;align-self:center;">Create event</div>
      <div style="margin-top:10px;display:flex;flex-direction:row;align-items:center;">
         <div>Categories</div>
         <div *ngIf="this.cat1" style="cursor:pointer;margin-left:5px;" (click)="clearOpts()">(<u>clear</u>)</div>
      </div>
      <div *ngIf="!this.cat1" style="display:flex;flex-direction:row;margin-top:3px;flex-wrap:wrap;">
         <div *ngFor="let c1 of (qs.cats | keyvalue)" (click)="this.cat1=c1.key" style="background-color:#000;color:#fff;padding:3px 5px;border-radius:3px;margin:1px;cursor:pointer;">
            {{c1.key}}
         </div>
      </div>
      <div *ngIf="this.cat1 && !this.cat2" style="display:flex;flex-direction:row;margin-top:3px;flex-wrap:wrap;">
         <div *ngFor="let c2 of (qs.cats[cat1] | keyvalue)" (click)="this.cat2=c2.key" style="background-color:#000;color:#fff;padding:3px 5px;border-radius:3px;margin:1px;cursor:pointer;">
            {{c2.key}}
         </div>
      </div>
      <div *ngIf="this.cat2 && !this.cat3" style="display:flex;flex-direction:row;margin-top:3px;flex-wrap:wrap;">
         <div *ngFor="let c3 of (qs.cats[cat1][cat2] | keyvalue)" (click)="this.cat3=c3.key" style="background-color:#000;color:#fff;padding:3px 5px;border-radius:3px;margin:1px;cursor:pointer;">
            {{c3.key}}
         </div>
      </div>
      <div *ngIf="this.cat3" style="background-color:#000;color:#fff;padding:3px 5px;border-radius:3px;margin:4px 1px 1px 1px;cursor:default;">
         {{this.cat3}}
      </div>
      <div style="margin-top:10px">Event name</div>
      <input type="text" placeholder="Arsenal vs Chelsea" [(ngModel)]="eventname">
      <div style="margin-top:10px">Side 1 name &amp; decimal odds (remove vig)</div>
      <input type="text" placeholder="Arsenal" [(ngModel)]="side1name">
      <input style="margin-top:1px" type="number" placeholder="1.54" [(ngModel)]="side1odds">
      <div style="margin-top:10px">Side 2 name &amp; decimal odds (remove vig)</div>
      <input type="text" placeholder="Chelsea" [(ngModel)]="side2name">
      <input style="margin-top:1px" type="number" placeholder="2.86" [(ngModel)]="side2odds">
      <div style="margin-top:10px">Estimated resolve datetime</div>
      <input type="datetime-local" [(ngModel)]="estres">

      <button style="margin-top:10px;font-weight:600;" (click)="createMarket()">Create</button>
      <button style="margin-top:5px" (click)="notcreating=true">Cancel</button>
   </div>
</ng-template>


